<head>
    <title>3dlogyERP | Yönetim Paneli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="3dlogyERP Yönetici Paneli Bootstrap 4 kullanılarak yapılmış olup, her türlü gösterge paneli ihtiyacını tamamen karşılayan çok sayıda hazır özellik, kullanıcı arayüzü bileşeni ve sayfaya sahiptir." />
    <meta name="keywords" content="flat ui, admin Admin , 3d, Printer, Design, Web, Production, Startup, Scanner, 3dScanner, 3dPrinting, creative">
    <meta name="author" content="3dlogy" />

    <!-- Favicon -->
    <link rel="icon" href="~/web/images/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="~/web/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/waves.min.css">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/web/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/icofont.css">

    <!-- Charts -->
    <link rel="stylesheet" type="text/css" href="~/web/css/chartist.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/web/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/widget.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/pages.css">

    <!-- Form Validation CSS -->
    <link rel="stylesheet" type="text/css" href="~/web/css/jquery.validate.css">

    <!-- IE Support -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body{
            background: #f2f7fb !important;
        }
        .pcoded-main-container {
            margin-top: 70px !important;
            min-height: inherit !important;
        }
    </style>
</head>