<head>
	<title>3dlogyERP | Yönetim Paneli</title>


	<!--[if lt IE 10]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="3dlogyERP Yönetici Paneli Bootstrap 4 kullanılarak yapılmış olup, her türlü gösterge paneli ihtiyacını tamamen karşılayan çok sayıda hazır özellik, kullanıcı arayüzü bileşeni ve sayfaya sahiptir." />
	<meta name="keywords" content="flat ui, admin Admin , 3d, Printer, Design, Web, Production, Startup, Scanner, 3dScanner, 3dPrinting, creative">
	<meta name="author" content="3dlogy" />

	<link rel="icon" href="https://colorlib.com/polygon/admindek/files/assets/images/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="~/web/css/bootstrap.min.css">

	<link rel="stylesheet" href="~/web/css/waves.min.css" type="text/css" media="all">

	<link rel="stylesheet" type="text/css" href="~/web/css/feather.css">

	<link rel="stylesheet" type="text/css" href="~/web/css/font-awesome-n.min.css">

	<link rel="stylesheet" href="~/web/css/chartist.css" type="text/css" media="all">

	<link rel="stylesheet" type="text/css" href="~/web/css/style.css">
	<link rel="stylesheet" type="text/css" href="~/web/css/widget.css">
</head>
